
<div class="divider">
    <div class="line"></div>
</div>

<div class="footer">
    <div class="left-foot">
        <div class="logo">
            <img src="/images/bird.gif" alt="logo" height="50"> 
            <a href="/"> <span class="logo-txt"> BlogCraft</span>
            </div>
        <div class="icon-container">
            <span><a href="https://github.com/kalyanroy26" target="_blank"><img src="/images/github.png" alt="github" height="30"></a></span>
            <span><a href="https://www.instagram.com/kalyan_maharajulu/" target="_blank"><img src="/images/instagram.png" alt="instagram" height="30"></a></span>
            <span><a href="http://www.linkedin.com/in/kalyan-maharajulu-664573199" target="_blank" ><img src="/images/linkedin.png" alt="linkedin" height="30"></a></span>
            <span><a href="https://twitter.com/" target="_blank"><img src="/images/twitter.png" alt="twitter" height="30"></a></span>
        </div>
        <div class="copyright">
            <h3>Copyright &copy; 2024 BlogCraft. All rights reserved</h3>
        </div>

    </div>

    <div class="right-foot">
        <h3 class="quick-links">Quick links</h3>
        <div class="links">
            <span class="nav-item"><a href="/">Home</a></span>
            <span class="nav-item"><a href="/Write">Write</a></span>
            <span class="nav-item"><a href="/contact">Contact</a></span>
            <span class="nav-item"><a href="/about">About</a></span>
        </div>
        <p class="made">Made with <img src="/images/love.png" alt="love" height="20"> <a href="#">by KALYAN ROY</a> </p>
    </div>

</div>

</div>
</body>

</html>