<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>BlogCraft</title>
    <link rel="icon" href="/images/bird.gif">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="nav-container">
            <div class="nav-bar">
                <div class="logo">
                    <img src="/images/bird.gif" alt="logo" height="50">
                    <a href="/"> <span class="logo-txt"> BlogCraft</span></a>
                </div>
    
                <div class="nav-menu">
                    <span class="nav-item"><a href="/">Home</a></span>
                    <span class="nav-item"><a href="/Write">Write</a></span>
                    <span class="nav-item"><a href="/contact">Contact</a></span>
                    <span class="nav-item"><a href="/about">About</a></span>
                </div>
            </div>
        </div>