<%- include('partials/header.ejs') %>

<div class="about-main">
    <div class="about-container">
        <h1 class="about"> About Me & This Project</h1>
        <p class="about-content">Hi there! My name is Kalyan Maharajulu, and I'm the creator behind this BlogCraft project. I'm excited to share a little bit about myself.</p>

        <p class="about-content">The aim of this project, is to explore various topics, share insights, and write creative blogs.</p>

        <p class="about-content">While this project helped me as a space for personal growth, and learning. I'm excited to see where this journey takes us and the stories we'll create along the way.</p>

        <p class="about-content">Thank you for joining me on this adventure!</p>
    </div>
</div>

<%- include('partials/footer.ejs') %>
