<%- include('partials/header.ejs') %>
<div class="main">
    <form action="" method="post">
        <label for="code">Enter your access code to edit post</label>
        <input type="text" name="code" placeholder="Access code">
        <button type="submit" class="submit-btn">submit</button>

    </form>
</div>
<%- include('partials/footer.ejs') %>
